# 팬더스, 데이터프레임, 시리즈 알아보기

In [1]:
import pandas as pd

In [2]:
data_frame = pd.read_csv('friend_list.csv')

In [3]:
data_frame

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [4]:
data_frame.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [5]:
data_frame.tail(2)

    name  age      job
4  Brian   45  manager
5  Chris   25   intern

In [6]:
type(data_frame.name)

pandas.core.series.Series

In [7]:
list_tmp = [1, 2, 3]

In [8]:
list_tmp

[1, 2, 3]

In [9]:
s1 = pd.core.series.Series( [1, 2, 3] )

In [10]:
s2 = pd.core.series.Series( ['one', 'two', 'three'] )

In [11]:
pd.DataFrame(data=dict(num=s1, word=s2))

   num   word
0    1    one
1    2    two
2    3  three

# 파일에서 데이터 불러오기

In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('friend_list.csv')

In [14]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [15]:
df.head()

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager

In [16]:
df.head(2)

    name  age        job
0   John   20    student
1  Jenny   30  developer

In [17]:
df.tail()

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [18]:
df.tail(3)

    name  age      job
3  Julia   40  dentist
4  Brian   45  manager
5  Chris   25   intern

In [19]:
df = pd.read_csv('friend_list.txt')

In [20]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [21]:
df = pd.read_csv('friend_list_tab.txt')

In [22]:
df

         name\tage\tjob
0     John\t20\tstudent
1  Jenny\t30\tdeveloper
2     Nate\t30\tteacher
3    Julia\t40\tdentist
4    Brian\t45\tmanager
5     Chris\t25\tintern

In [23]:
df = pd.read_csv('friend_list_tab.txt', delimiter='\t')

In [24]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [25]:
df = pd.read_csv('friend_list_no_head.csv')

In [26]:
df

    John  20    student
0  Jenny  30  developer
1   Nate  30    teacher
2  Julia  40    dentist
3  Brian  45    manager
4  Chris  25     intern

In [27]:
df = pd.read_csv('friend_list_no_head.csv', header=None)

In [28]:
df

       0   1          2
0   John  20    student
1  Jenny  30  developer
2   Nate  30    teacher
3  Julia  40    dentist
4  Brian  45    manager
5  Chris  25     intern

In [29]:
df.columns = ['name', 'age', 'job']

In [30]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [31]:
df = pd.read_csv('friend_list_no_head.csv', header=None, names = ['name', 'age', 'job'])

In [32]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

# 데이터프레임 생성하기

In [33]:
import pandas as pd

In [34]:
friend_dict_list = [{'name': 'Jone', 'age': 20, 'job': 'student'},
                    {'name': 'Nate', 'age': 30, 'job': 'teacher'}]

In [35]:
df = pd.DataFrame(friend_dict_list)

In [36]:
df.head()

   name  age      job
0  Jone   20  student
1  Nate   30  teacher

In [37]:
df = df[['name', 'age', 'job']]

In [38]:
df.head()

   name  age      job
0  Jone   20  student
1  Nate   30  teacher

In [39]:
from collections import OrderedDict

In [40]:
friend_ordered_dict = OrderedDict(
    [
         ('name', ['John', 'Nate']),
         ('age', [25, 30]),
         ('job', ['student', 'teacher'])
    ]
)

In [41]:
df = pd.DataFrame.from_dict(friend_ordered_dict)

In [42]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

# 데이터프레임 파일로 저장하기

In [43]:
import pandas as pd

In [44]:
friends = [{'name': 'Jone', 'age': 20, 'job': 'student'},
           {'name': 'Jenny', 'age': 30, 'job': None},
           {'name': 'Nate', 'age': 30, 'job': 'teacher'}]
df = pd.DataFrame(friends)
df = df[['name', 'age', 'job']]

In [45]:
df.head()

    name  age      job
0   Jone   20  student
1  Jenny   30     None
2   Nate   30  teacher

In [46]:
df.to_csv('friends.csv', index=False, header=False, na_rep='-')

# 데이터프레임 행, 열 (row, column) 선택 및 필터 하기

In [47]:
import pandas as pd

In [48]:
friend_list = OrderedDict([ ('name', ['John', 'Jenny', 'Nate']),
          ('age', [20, 30, 30]),
          ('job', ['student', 'developer', 'teacher']) ] )
df = pd.DataFrame.from_dict(friend_list)

In [49]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [50]:
df[1:3]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher

In [51]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [52]:
df = df[1:3]

In [53]:
df

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher

In [54]:
friend_list = OrderedDict([ ('name', ['John', 'Jenny', 'Nate']),
          ('age', [20, 30, 30]),
          ('job', ['student', 'developer', 'teacher']) ] )
df = pd.DataFrame.from_dict(friend_list)
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [55]:
df.loc[[0,2]]

   name  age      job
0  John   20  student
2  Nate   30  teacher

In [56]:
df = df.loc[[0,2]]

In [57]:
df

   name  age      job
0  John   20  student
2  Nate   30  teacher

In [58]:
friend_list = OrderedDict([ ('name', ['John', 'Jenny', 'Nate']),
          ('age', [20, 30, 30]),
          ('job', ['student', 'developer', 'teacher']) ] )
df = pd.DataFrame.from_dict(friend_list)
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [59]:
df[df.age > 25]

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher

In [60]:
df.query('age>25')

    name  age        job
1  Jenny   30  developer
2   Nate   30    teacher

In [61]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher

In [62]:
df[(df.age>25) & (df.name == 'Nate')]

   name  age      job
2  Nate   30  teacher

In [63]:
df = pd.read_csv('friend_list_no_head.csv', header=None, names = ['name', 'age', 'job'])

In [64]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [65]:
df_filtered = df[['name', 'age']]

In [66]:
df_filtered

    name  age
0   John   20
1  Jenny   30
2   Nate   30
3  Julia   40
4  Brian   45
5  Chris   25

In [67]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [68]:
df.filter(items=['age', 'job'])

   age        job
0   20    student
1   30  developer
2   30    teacher
3   40    dentist
4   45    manager
5   25     intern

In [69]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [70]:
df.filter(like='a', axis=1)

    name  age
0   John   20
1  Jenny   30
2   Nate   30
3  Julia   40
4  Brian   45
5  Chris   25

In [71]:
df

    name  age        job
0   John   20    student
1  Jenny   30  developer
2   Nate   30    teacher
3  Julia   40    dentist
4  Brian   45    manager
5  Chris   25     intern

In [72]:
df.filter(regex='b$', axis=1)

         job
0    student
1  developer
2    teacher
3    dentist
4    manager
5     intern

# 데이터프레임 행,열 삭제하기

In [73]:
import pandas as pd

In [74]:
friends = [{'age': 15, 'job': 'student'},
           {'age': 25, 'job': 'developer'},
           {'age': 30, 'job': 'teacher'}]
df = pd.DataFrame(friends, 
                  index = ['John', 'Jenny', 'Nate'],
                  columns = ['age', 'job'])

In [75]:
df

       age        job
John    15    student
Jenny   25  developer
Nate    30    teacher

In [76]:
df.drop(['John', 'Nate'])

       age        job
Jenny   25  developer

In [77]:
df

       age        job
John    15    student
Jenny   25  developer
Nate    30    teacher

In [78]:
df = df.drop(['John', 'Nate'])

In [79]:
df

       age        job
Jenny   25  developer

In [80]:
friends = [{'age': 15, 'job': 'student'},
           {'age': 25, 'job': 'developer'},
           {'age': 30, 'job': 'teacher'}]
df = pd.DataFrame(friends, 
                  index = ['John', 'Jenny', 'Nate'],
                  columns = ['age', 'job'])

In [81]:
df

       age        job
John    15    student
Jenny   25  developer
Nate    30    teacher

In [82]:
df = df.drop(['John', 'Nate'], inplace=True)

In [83]:
df

In [84]:
friends = [{'name':'John', 'age': 15, 'job': 'student'},
           {'name':'Ben','age': 25, 'job': 'developer'},
           {'name':'Jenny','age': 30, 'job': 'teacher'}]
df = pd.DataFrame(friends, 
                  columns = ['name','age', 'job'])

In [85]:
df

    name  age        job
0   John   15    student
1    Ben   25  developer
2  Jenny   30    teacher

In [86]:
df = df.drop(df.index[[0, 2]])

In [87]:
df

  name  age        job
1  Ben   25  developer

In [88]:
df = pd.DataFrame(friends, 
                  columns = ['name','age', 'job'])

In [89]:
df

    name  age        job
0   John   15    student
1    Ben   25  developer
2  Jenny   30    teacher

In [90]:
df = df[df.age > 20]

In [91]:
df

    name  age        job
1    Ben   25  developer
2  Jenny   30    teacher

In [92]:
df = pd.DataFrame(friends, 
                  columns = ['name','age', 'job'])

In [93]:
df

    name  age        job
0   John   15    student
1    Ben   25  developer
2  Jenny   30    teacher

In [94]:
df = df.drop('age', axis=1)

In [95]:
df

    name        job
0   John    student
1    Ben  developer
2  Jenny    teacher

In [96]:
df = pd.DataFrame(friends, 
                  columns = ['name','age', 'job'])

In [97]:
df.drop('age', axis=1, inplace=True)

In [98]:
df

    name        job
0   John    student
1    Ben  developer
2  Jenny    teacher

# 행,열 생성 및 수정하기

In [99]:
import pandas

In [100]:
friend_dict_list = [{'name': 'Jone', 'age': 15, 'job': 'student'},
         {'name': 'Jenny', 'age': 30, 'job': 'developer'},
         {'name': 'Nate', 'age': 30, 'job': 'teacher'}]
df = pd.DataFrame(friend_dict_list, columns=['name', 'age', 'job'])

In [101]:
df.head()

    name  age        job
0   Jone   15    student
1  Jenny   30  developer
2   Nate   30    teacher

In [102]:
df['salary'] = 0

In [103]:
df.head()

    name  age        job  salary
0   Jone   15    student       0
1  Jenny   30  developer       0
2   Nate   30    teacher       0

In [104]:
import numpy as np

In [105]:
df['salary'] = np.where(df['job'] != 'student', 'yes', 'no')

In [106]:
df.head()

    name  age        job salary
0   Jone   15    student     no
1  Jenny   30  developer    yes
2   Nate   30    teacher    yes

In [107]:
friend_dict_list = [{'name': 'Jone', 'midterm': 95, 'final': 85},
         {'name': 'Jenny', 'midterm': 85, 'final': 80},
         {'name': 'Nate', 'midterm': 30, 'final': 10}]
df = pd.DataFrame(friend_dict_list, columns=['name', 'midterm', 'final'])

In [108]:
df.head()

    name  midterm  final
0   Jone       95     85
1  Jenny       85     80
2   Nate       30     10

In [109]:
df['total'] = df['midterm'] + df['final']

In [110]:
df.head()

    name  midterm  final  total
0   Jone       95     85    180
1  Jenny       85     80    165
2   Nate       30     10     40

In [111]:
df['average'] = df['total'] / 2

In [112]:
df.head()

    name  midterm  final  total  average
0   Jone       95     85    180     90.0
1  Jenny       85     80    165     82.5
2   Nate       30     10     40     20.0

In [113]:
grades = []

for row in df['average']:
  if row >= 90:
    grades.append('A')
  elif row >= 80:
    grades.append('B')
  else:
    grades.append('F')

df['grade'] = grades

In [114]:
df.head()

    name  midterm  final  total  average grade
0   Jone       95     85    180     90.0     A
1  Jenny       85     80    165     82.5     B
2   Nate       30     10     40     20.0     F

In [115]:
def pass_or_fail(row):
  if row != 'F':
    return 'Pass'
  else:
    return 'Fail'

In [116]:
df.grade = df.grade.apply(pass_or_fail)

In [117]:
df.head()

    name  midterm  final  total  average grade
0   Jone       95     85    180     90.0  Pass
1  Jenny       85     80    165     82.5  Pass
2   Nate       30     10     40     20.0  Fail

In [118]:
date_list = [
    {
        'yyyy-mm-dd' : '2000-06-27'
    },
    {
        'yyyy-mm-dd' : '2007-10-27'
    }   
] 
df = pd.DataFrame(date_list, columns=['yyyy-mm-dd'])

In [119]:
df.head()

   yyyy-mm-dd
0  2000-06-27
1  2007-10-27

In [120]:
def extract_year(row):
  return row.split('-')[0]

In [121]:
df['year'] = df['yyyy-mm-dd'].apply(extract_year)

In [122]:
df.head()

   yyyy-mm-dd  year
0  2000-06-27  2000
1  2007-10-27  2007

In [123]:
friend_dict_list = [{'name': 'Jone', 'midterm': 95, 'final': 85},
         {'name': 'Jenny', 'midterm': 85, 'final': 80},
         {'name': 'Nate', 'midterm': 30, 'final': 10}]
df = pd.DataFrame(friend_dict_list, columns=['name', 'midterm', 'final'])

In [124]:
df2 = pd.DataFrame([
    ['Ben', 50, 50]
], columns=['name', 'midterm', 'final'])

In [125]:
df2.head()

  name  midterm  final
0  Ben       50     50

In [126]:
df.append(df2, ignore_index=True)

    name  midterm  final
0   Jone       95     85
1  Jenny       85     80
2   Nate       30     10
3    Ben       50     50

# 데이터 그룹 만들기

In [127]:
import pandas as pd

In [128]:
student_list = [{'name': 'John', 'major': "Computer Science", 'sex': "male"},
                {'name': 'Nate', 'major': "Computer Science", 'sex': "male"},
                {'name': 'Abraham', 'major': "Physics", 'sex': "male"},
                {'name': 'Brian', 'major': "Psychology", 'sex': "male"},
                {'name': 'Janny', 'major': "Economics", 'sex': "female"},
                {'name': 'Yuna', 'major': "Economics", 'sex': "female"},
                {'name': 'Jeniffer', 'major': "Computer Science", 'sex': "female"},
                {'name': 'Edward', 'major': "Computer Science", 'sex': "male"},
                {'name': 'Zara', 'major': "Psychology", 'sex': "female"},
                {'name': 'Wendy', 'major': "Economics", 'sex': "female"},
                {'name': 'Sera', 'major': "Psychology", 'sex': "female"}
         ]
df = pd.DataFrame(student_list, columns = ['name', 'major', 'sex'])

In [129]:
df

        name             major     sex
0       John  Computer Science    male
1       Nate  Computer Science    male
2    Abraham           Physics    male
3      Brian        Psychology    male
4      Janny         Economics  female
5       Yuna         Economics  female
6   Jeniffer  Computer Science  female
7     Edward  Computer Science    male
8       Zara        Psychology  female
9      Wendy         Economics  female
10      Sera        Psychology  female

In [130]:
groupby_major = df.groupby('major')

In [131]:
groupby_major.groups

{'Computer Science': [0, 1, 6, 7], 'Economics': [4, 5, 9], 'Physics': [2], 'Psychology': [3, 8, 10]}

In [132]:
for name, group in groupby_major:
  print(name + " : " + str(len(group)))
  print(group)
  print()

Computer Science : 4
       name             major     sex
0      John  Computer Science    male
1      Nate  Computer Science    male
6  Jeniffer  Computer Science  female
7    Edward  Computer Science    male

Economics : 3
    name      major     sex
4  Janny  Economics  female
5   Yuna  Economics  female
9  Wendy  Economics  female

Physics : 1
      name    major   sex
2  Abraham  Physics  male

Psychology : 3
     name       major     sex
3   Brian  Psychology    male
8    Zara  Psychology  female
10   Sera  Psychology  female

In [133]:
df_major_cnt = pd.DataFrame( {'count' : groupby_major.size()}  ).reset_index()
df_major_cnt

              major  count
0  Computer Science      4
1         Economics      3
2           Physics      1
3        Psychology      3

In [134]:
groupby_sex = df.groupby('sex')

In [135]:
for name, group in groupby_sex:
  print(name + " : " + str(len(group)))
  print(group)
  print()

female : 6
        name             major     sex
4      Janny         Economics  female
5       Yuna         Economics  female
6   Jeniffer  Computer Science  female
8       Zara        Psychology  female
9      Wendy         Economics  female
10      Sera        Psychology  female

male : 5
      name             major   sex
0     John  Computer Science  male
1     Nate  Computer Science  male
2  Abraham           Physics  male
3    Brian        Psychology  male
7   Edward  Computer Science  male

# 중복데이터 삭제하기

In [136]:
import pandas as pd

In [137]:
student_list = [{'name': 'John',
                 'major': "Computer Science",
                 'sex': "male"},
                {'name': 'Nate',
                 'major': "Computer Science",
                 'sex': "male"},
                {'name': 'Edward',
                 'major': "Computer Science",
                 'sex': "male"},
                {'name': 'Zara',
                 'major': "Psycholog",
                 'sex': "female"},
                {'name': 'John',
                 'major': "Computer Science",
                 'sex': "male"},
                ]
df = pd.DataFrame(student_list, columns = ['name', 'major', 'sex'])
df

     name             major     sex
0    John  Computer Science    male
1    Nate  Computer Science    male
2  Edward  Computer Science    male
3    Zara         Psycholog  female
4    John  Computer Science    male

In [138]:
df.duplicated()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [139]:
df.drop_duplicates()

     name             major     sex
0    John  Computer Science    male
1    Nate  Computer Science    male
2  Edward  Computer Science    male
3    Zara         Psycholog  female

In [140]:
student_list = [{'name': 'John',
                 'major': "Computer Science",
                 'sex': "male"},
                {'name': 'Nate',
                 'major': "Computer Science",
                 'sex': "male"},
                {'name': 'Edward',
                 'major': "Computer Science",
                 'sex': "male"},
                {'name': 'Zara',
                 'major': "Psycholog",
                 'sex': "female"},
                {'name': 'Wendy',
                 'major': "Computer Science",
                 'sex': "male"},
                {'name': 'Nate',
                 'major': None,
                 'sex': "male"},
                {'name': 'John',
                 'major': "Economics",
                 'sex': "male"},
                ]
df = pd.DataFrame(student_list, columns = ['name', 'major', 'sex'])
df

     name             major     sex
0    John  Computer Science    male
1    Nate  Computer Science    male
2  Edward  Computer Science    male
3    Zara         Psycholog  female
4   Wendy  Computer Science    male
5    Nate              None    male
6    John         Economics    male

In [141]:
df.duplicated(['name'])

0    False
1    False
2    False
3    False
4    False
5     True
6     True
dtype: bool

In [142]:
df.drop_duplicates(['name'], keep='first')

     name             major     sex
0    John  Computer Science    male
1    Nate  Computer Science    male
2  Edward  Computer Science    male
3    Zara         Psycholog  female
4   Wendy  Computer Science    male

In [143]:
df.drop_duplicates(['name'], keep='last')

     name             major     sex
2  Edward  Computer Science    male
3    Zara         Psycholog  female
4   Wendy  Computer Science    male
5    Nate              None    male
6    John         Economics    male

In [144]:
df.drop_duplicates(['name'])

     name             major     sex
0    John  Computer Science    male
1    Nate  Computer Science    male
2  Edward  Computer Science    male
3    Zara         Psycholog  female
4   Wendy  Computer Science    male

#  NaN (None) 찾아서 다른 값으로 변경하기

In [145]:
import pandas as pd

In [146]:
school_id_list = [{'name': 'John', 'job': "teacher", 'age': 40},
                {'name': 'Nate', 'job': "teacher", 'age': 35},
                {'name': 'Yuna', 'job': "teacher", 'age': 37},
                {'name': 'Abraham', 'job': "student", 'age': 10},
                {'name': 'Brian', 'job': "student", 'age': 12},
                {'name': 'Janny', 'job': "student", 'age': 11},
                {'name': 'Nate', 'job': "teacher", 'age': None},
                {'name': 'John', 'job': "student", 'age': None}
         ]
df = pd.DataFrame(school_id_list, columns = ['name', 'job', 'age'])

In [147]:
df

      name      job   age
0     John  teacher  40.0
1     Nate  teacher  35.0
2     Yuna  teacher  37.0
3  Abraham  student  10.0
4    Brian  student  12.0
5    Janny  student  11.0
6     Nate  teacher   NaN
7     John  student   NaN

In [148]:
df.shape

(8, 3)

In [149]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    8 non-null      object
 1   job     8 non-null      object
 2   age     6 non-null      float64
dtypes: float64(1), object(2)
memory usage: 320.0+ bytes

In [150]:
df.isna()

    name    job    age
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False
5  False  False  False
6  False  False   True
7  False  False   True

In [151]:
df.isnull()

    name    job    age
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False
4  False  False  False
5  False  False  False
6  False  False   True
7  False  False   True

In [152]:
df.age = df.age.fillna(0)

In [153]:
df

      name      job   age
0     John  teacher  40.0
1     Nate  teacher  35.0
2     Yuna  teacher  37.0
3  Abraham  student  10.0
4    Brian  student  12.0
5    Janny  student  11.0
6     Nate  teacher   0.0
7     John  student   0.0

In [154]:
school_id_list = [{'name': 'John', 'job': "teacher", 'age': 40},
                {'name': 'Nate', 'job': "teacher", 'age': 35},
                {'name': 'Yuna', 'job': "teacher", 'age': 37},
                {'name': 'Abraham', 'job': "student", 'age': 10},
                {'name': 'Brian', 'job': "student", 'age': 12},
                {'name': 'Janny', 'job': "student", 'age': 11},
                {'name': 'Nate', 'job': "teacher", 'age': None},
                {'name': 'John', 'job': "student", 'age': None}
         ]
df = pd.DataFrame(school_id_list, columns = ['name', 'job', 'age'])

In [155]:
df['age'].fillna(df.groupby('job')['age'].transform('median'), inplace=True)

In [156]:
df

      name      job   age
0     John  teacher  40.0
1     Nate  teacher  35.0
2     Yuna  teacher  37.0
3  Abraham  student  10.0
4    Brian  student  12.0
5    Janny  student  11.0
6     Nate  teacher  37.0
7     John  student  11.0

# apply 함수, 다양한 예제로 활용해보기

In [157]:
import pandas as pd

In [158]:
date_list = [{'yyyy-mm-dd': '2000-06-27'},
         {'yyyy-mm-dd': '2002-09-24'},
         {'yyyy-mm-dd': '2005-12-20'}]
df = pd.DataFrame(date_list, columns = ['yyyy-mm-dd'])
df

   yyyy-mm-dd
0  2000-06-27
1  2002-09-24
2  2005-12-20

In [159]:
def extract_year(column):
  return column.split("-")[0]

In [160]:
df['year'] = df['yyyy-mm-dd'].apply(extract_year)

In [161]:
df

   yyyy-mm-dd  year
0  2000-06-27  2000
1  2002-09-24  2002
2  2005-12-20  2005

In [162]:
def get_age(year, current_year):
  return current_year - int(year)

In [163]:
df['age'] = df['year'].apply(get_age, current_year=2018)

In [164]:
df

   yyyy-mm-dd  year  age
0  2000-06-27  2000   18
1  2002-09-24  2002   16
2  2005-12-20  2005   13

In [165]:
def get_introduce(age, prefix, suffix):
  return prefix + str(age) + suffix

In [166]:
df['introduce'] = df['age'].apply(get_introduce, prefix='I am ', suffix=" years old")

In [167]:
df

   yyyy-mm-dd  year  age          introduce
0  2000-06-27  2000   18  I am 18 years old
1  2002-09-24  2002   16  I am 16 years old
2  2005-12-20  2005   13  I am 13 years old

In [168]:
def get_introduce_2(row):
  return "I was born in " + str(row.year) + " my age is " + str(row.age)

In [169]:
df.introduce = df.apply(get_introduce_2, axis=1)

In [170]:
df

   yyyy-mm-dd  year  age                        introduce
0  2000-06-27  2000   18  I was born in 2000 my age is 18
1  2002-09-24  2002   16  I was born in 2002 my age is 16
2  2005-12-20  2005   13  I was born in 2005 my age is 13

# map, applymap 함수, 다양한 예제로 활용해보기

In [171]:
import pandas as pd

In [172]:
date_list = [{'date': '2000-06-27'},
         {'date': '2002-09-24'},
         {'date': '2005-12-20'}]
df = pd.DataFrame(date_list, columns = ['date'])
df

         date
0  2000-06-27
1  2002-09-24
2  2005-12-20

In [173]:
def extract_year(date):
  return date.split("-")[0]

In [174]:
df['year'] = df['date'].map(extract_year)

In [175]:
df

         date  year
0  2000-06-27  2000
1  2002-09-24  2002
2  2005-12-20  2005

In [176]:
job_list = [{'age': 20, 'job': 'student'},
           {'age': 30, 'job': 'developer'},
           {'age': 30, 'job': 'teacher'}]
df = pd.DataFrame(job_list)
df

   age        job
0   20    student
1   30  developer
2   30    teacher

In [177]:
df.job = df.job.map({'student':1, 'developer':2, 'teacher':3})

In [178]:
df

   age  job
0   20    1
1   30    2
2   30    3

In [179]:
x_y = [{'x': 5.5, 'y': -5.6, 'z': -1.1},
         {'x': -5.2, 'y': 5.5, 'z': -2.2},
         {'x': -1.6, 'y': -4.5, 'z': -3.3}]
df = pd.DataFrame(x_y)
df

     x    y    z
0  5.5 -5.6 -1.1
1 -5.2  5.5 -2.2
2 -1.6 -4.5 -3.3

In [180]:
import numpy as np

In [181]:
df = df.applymap(np.round)

In [182]:
df

     x    y    z
0  6.0 -6.0 -1.0
1 -5.0  6.0 -2.0
2 -2.0 -4.0 -3.0

# unique, value_counts 컬럼 내 유니크한 값 뽑아내고 갯수 확인하기

In [183]:
import pandas as pd

In [184]:
job_list = [{'name': 'John', 'job': "teacher"},
                {'name': 'Nate', 'job': "teacher"},
                {'name': 'Fred', 'job': "teacher"},
                {'name': 'Abraham', 'job': "student"},
                {'name': 'Brian', 'job': "student"},
                {'name': 'Janny', 'job': "developer"},
                {'name': 'Nate', 'job': "teacher"},
                {'name': 'Obrian', 'job': "dentist"},
                {'name': 'Yuna', 'job': "teacher"},
                {'name': 'Rob', 'job': "lawyer"},
                {'name': 'Brian', 'job': "student"},
                {'name': 'Matt', 'job': "student"},
                {'name': 'Wendy', 'job': "banker"},
                {'name': 'Edward', 'job': "teacher"},
                {'name': 'Ian', 'job': "teacher"},
                {'name': 'Chris', 'job': "banker"},
                {'name': 'Philip', 'job': "lawyer"},
                {'name': 'Janny', 'job': "basketball player"},
                {'name': 'Gwen', 'job': "teacher"},
                {'name': 'Jessy', 'job': "student"}
         ]
df = pd.DataFrame(job_list, columns = ['name', 'job'])

In [185]:
df

       name                job
0      John            teacher
1      Nate            teacher
2      Fred            teacher
3   Abraham            student
4     Brian            student
5     Janny          developer
6      Nate            teacher
7    Obrian            dentist
8      Yuna            teacher
9       Rob             lawyer
10    Brian            student
11     Matt            student
12    Wendy             banker
13   Edward            teacher
14      Ian            teacher
15    Chris             banker
16   Philip             lawyer
17    Janny  basketball player
18     Gwen            teacher
19    Jessy            student

In [186]:
df.job.unique()

array(['teacher', 'student', 'developer', 'dentist', 'lawyer', 'banker',
       'basketball player'], dtype=object)

In [187]:
df.job.value_counts()

teacher              8
student              5
lawyer               2
banker               2
developer            1
dentist              1
basketball player    1
Name: job, dtype: int64

# 두개의 데이터프레임 합치기 (concat, append)

In [188]:
import pandas as pd

In [189]:
l1 = [{'name': 'John', 'job': "teacher"},
      {'name': 'Nate', 'job': "student"},
      {'name': 'Fred', 'job': "developer"}]

l2 = [{'name': 'Ed', 'job': "dentist"},
      {'name': 'Jack', 'job': "farmer"},
      {'name': 'Ted', 'job': "designer"}]
         
l3 = [{'name': 'John', 'job': "teacher"},
      {'name': 'Nate', 'job': "student"},
      {'name': 'Jack', 'job': "developer"}]

l4 = [{'age': 25, 'country': "U.S"},
      {'age': 30, 'country': "U.K"},
      {'age': 45, 'country': "Korea"}]

In [190]:
df1 = pd.DataFrame(l1, columns = ['name', 'job'])
df2 = pd.DataFrame(l2, columns = ['name', 'job'])

In [191]:
df1

   name        job
0  John    teacher
1  Nate    student
2  Fred  developer

In [192]:
df2

   name       job
0    Ed   dentist
1  Jack    farmer
2   Ted  designer

In [193]:
result = pd.concat([df1,df2], ignore_index=True)

In [194]:
result

   name        job
0  John    teacher
1  Nate    student
2  Fred  developer
3    Ed    dentist
4  Jack     farmer
5   Ted   designer

In [195]:
result = df1.append(df2, ignore_index=True)

In [196]:
result

   name        job
0  John    teacher
1  Nate    student
2  Fred  developer
3    Ed    dentist
4  Jack     farmer
5   Ted   designer

In [197]:
df1 = pd.DataFrame(l3, columns = ['name', 'job'])
df2 = pd.DataFrame(l4, columns = ['age', 'country'])

In [198]:
df1

   name        job
0  John    teacher
1  Nate    student
2  Jack  developer

In [199]:
df2

   age country
0   25     U.S
1   30     U.K
2   45   Korea

In [200]:
result = pd.concat([df1, df2], axis=1, ignore_index=True)

In [201]:
result

      0          1   2      3
0  John    teacher  25    U.S
1  Nate    student  30    U.K
2  Jack  developer  45  Korea

In [202]:
label = [1,2,3,4,5]
prediction = [1,2,2,4,4]

In [203]:
comparison = pd.DataFrame({'label': label, 'prediction': prediction})

In [204]:
comparison

   label  prediction
0      1           1
1      2           2
2      3           2
3      4           4
4      5           4